@import url("https://fonts.googleapis.com/css?family=Anton|Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");
body {
  background: url(jacob-kiesow-342238-unsplash.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.container {
  max-width: 1000px;
  border: none;
  margin: 0 auto;
}
.header {
  text-align: center;
}

h1 {
  font-family: "Poiret One", cursive;
  font-weight: lighter;
  font-size: 80px;
  color: mediumorchid;
}
h2,
h3 {
  font-family: "Poiret One", cursive;
  color: white;
}

.section {
  border: 1px solid black;
  padding: 20px;
}

#welcome {
  font-family: "poiret one", cursive;
  color: white;
}
p {
  color: white;
}
p#blurb {
  font-size: 24px;
  color: white;
}
#gallery {
  body {
    background: url(luke-chesser-1586147-unsplash.jpg);
    background-color: #dedede;
  }
  .gallery {
    display: flex;
    width: 900px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  figure {
    width: 200px;
    margin: 8px 0;
    border: 1px solid #777;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
  }
  figure img {
    width: 100%;
  }
  figure figcaption {
    text-align: center;
    padding: 8px 4px;
  }
}

.exp_item {
  margin: 10px 20px;
}

.navigation {
  height: 50px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  font-family: "poiret one", cursive;
}

.navigation li {
  display: inline;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid purple;
}

#projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project_list {
  font-family: "poiret one", cursive;
  color: white;
  border: 1px solid mediumorchid;
}
